<div id="upload">
    <input class="file" type="file" name="file"/>
    <div class="row container_box">
        <div class="col-md-12">
            <div class="bg-warning text">
                <i id="upload_text_close" class="fa fa-close"></i>
                <div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row container_controls">
        <div class="col-md-12">
            <div class="container_progressBar">
                {{-include("UebusaitoBundle::include/progressBar.html.twig")-}}
            </div>
            <div class="container_buttons">
                <p class="btn btn-success button_1"><i class="fa fa-play"></i> <span>{% trans %}upload_1{% endtrans %}</span></p>
                <p class="btn btn-danger button_2"><i class="fa fa-stop"></i> <span>{% trans %}upload_2{% endtrans %}</span></p>
            </div>
        </div>
    </div>
</div>
<script>
    var textUpload = {
        'uploadTextA': "{{"upload_3"|trans}}",
        'uploadTextB': "{{"upload_4"|trans}}",
        'uploadTextC': "{{"upload_5"|trans}}",
        'uploadButtonA': "{{"upload_6"|trans}}",
        'uploadButtonB': "{{"upload_7"|trans}}",
        'uploadButtonC': "{{"upload_8"|trans}}"
    };
</script>