{% extends "UebusaitoBundle::layout/layout_module_clean.html.twig" %}

{% block panelId %}panel_id_{{response.module.id}}{% endblock %}
{% block moduleHeader %}
    {{response.module.label|trans}}
{% endblock %}
{% block moduleContainer %}
    <nav id="menu_root" class="navbar navbar-default">
        <div class="navbar-header">
            <div class="navbar_header_content">
                <button id="menu_root_nav_button" class="navbar-toggle collapsed btn" data-toggle="collapse" data-target="#menu_root_navbar">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
            </div>
            <div class="navbar_header_content">
                <p class="logo_mobile display_mobile">Uebusaito 1.0</p>
            </div>
            <div class="display_inline float_right">
                <div class="navbar_header_content navbar_header_icon">
                    <div class="dropdown">
                        <button id="authentication_button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user fa-lg"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            {{-render(controller("UebusaitoBundle:Authentication:index", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                        </div>
                    </div>
                </div>
                <div class="navbar_header_content navbar_header_icon">
                    <div class="dropdown">
                        <button id="search_button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-search fa-lg"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            {{-render(controller("UebusaitoBundle:Search:words", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                        </div>
                    </div>
                </div>
                <div class="navbar_header_content navbar_header_icon">
                    <div class="dropdown">
                        <button id="language_button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-globe fa-lg"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            {{-render(controller("UebusaitoBundle:Language:text", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu_root_navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% macro createRecursiveStructure(url, pagesList) %}
                    {% for value in pagesList %}
                        {% if (value.show_in_menu == 1) %}
                            {% if (value.children != null) %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{url}}/{{value.id}}">{{value.menu_name}}</a>
                                    {% if value.children is not empty %}
                                        <ul class="dropdown-menu dropdown_menu_fix">
                                            {{_self.createRecursiveStructure(url, value.children)}}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% else %}
                                <li>
                                    {% if value.only_link == true %}
                                        <a href="{{value.link}}" target="_blank">{{value.menu_name}}</a>
                                    {% else %}
                                        <a href="{{url}}/{{value.id}}">{{value.menu_name}}</a>
                                    {% endif %}

                                    {% if value.children is not empty %}
                                        <ul>
                                            {{_self.createRecursiveStructure(url, value.children)}}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endmacro %}

                {% import "UebusaitoBundle::render/module/menu_root.html.twig" as macro %}
                {{macro.createRecursiveStructure(response.values.url, response.values.pagesList)}}
            </ul>
        </div>
    </nav>
{% endblock %}
{% block moduleFooter %}{% endblock %}