{% extends "UebusaitoBundle::layout/layout_module_clean.html.twig" %}

{% block panelId %}panel_id_{{response.module.id}}{% endblock %}
{% block moduleHeaderIcon %}
    <i class="fa fa-search fa-lg">&nbsp;</i>
{% endblock %}
{% block moduleHeader %}
    {{response.module.label|trans}}
{% endblock %}
{% block moduleContainer %}
    {% form_theme form "bootstrap_3_layout.html.twig" %}

    <div class="search_container">
        <form id="form_search_words" class="form_search_words display_inline" action="{{path("search_words", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
            <div class="form_search_words_button search_input">
                <i class="fa fa-search"></i>
            </div>
            {{form_row(form.words, {'label': false})}}
            
            {{form_widget(form._token)}}
        </form>
    </div>
{% endblock %}
{% block moduleFooter %}{% endblock %}