{% extends "@UebusaitoBundleViews/layout/layout_module.html.twig" %}

{% block panelId %}panel_id_{{response.module.id}}{% endblock %}
{% block panelClass %}
{% spaceless %}
    {% if urlExtra == "maintenance_authentication" %}
        maintenance_authentication
    {% endif %}
{% endspaceless %}
{% endblock %}
{% block moduleHeaderIcon %}
    <i class="fa fa-user fa-lg">&nbsp;</i>
{% endblock %}
{% block moduleHeader %}
    {{response.module.label|trans}}
{% endblock %}
{% block moduleContainer %}
    <div class="authentication_container">
        {% if form == null %}
            <p class="margin_clear"><b>{% trans %}authentication_1{% endtrans %}</b></p>
            <p class="margin_clear">{{response.values.user.username}}</p>
            <p class="margin_clear"><b>{% trans %}authentication_2{% endtrans %}</b></p>
            <p class="margin_clear">
                {% for value in response.values.roleLevel %}
                    - {{value|trans}}
                {% endfor %}
            </p>
            <p class="margin_clear"><b>{% trans %}authentication_3{% endtrans %}</b></p>
            <p class="margin_clear">{{response.values.user.dateLastLogin|date("date.day"|trans)}} <b>[</b>{{response.values.user.dateLastLogin|date("date.time"|trans)}}<b>]</b></p>
            <div class="margin_top horizontal_center">
                <a class="button_custom btn-block" href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': 1, 'urlExtra': "cp_profile"})}}">{% trans %}authentication_4{% endtrans %}</a>
                <a class="button_custom btn-block logout_button" href="{{path("authentication_exit_check", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}">{% trans %}authentication_5{% endtrans %}</a>
            </div>
        {% else %}
            {% form_theme form "bootstrap_3_layout.html.twig" %}

            <form class="form_user_authentication" action="{{path("authentication_enter_check", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
                {{form_row(form._username, {'label': "authentication_6"})}}
                {{form_row(form._password, {'label': "authentication_7"})}}
                
                <div class="form-group">
                    <div class="input-group">
                        <input class="button_custom" type="submit" value="{% trans %}authentication_9{% endtrans %}"/>
                        {{form_widget(form._remember_me, {'label': "authentication_8"})}}
                    </div>
                </div>
                
                {{-include("@UebusaitoBundleViews/include/captcha.html.twig")-}}
                
                {{form_widget(form._token)}}
            </form>
            
            {% if (settingRow['active'] == true) %}
                <div class="horizontal_center">
                    <a class="button_custom btn-block" href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': 3})}}">{% trans %}authentication_10{% endtrans %}</a>
                    <a class="button_custom btn-block" href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': 4})}}">{% trans %}authentication_11{% endtrans %}</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
{% block moduleFooter %}{% endblock %}