{% form_theme form "bootstrap_3_layout.html.twig" %}

<div class="row">
    <div class="col-md-6">
        <h3>{% trans %}module_profile_1{% endtrans %}</h3>
        
        <form id="form_cp_module_profile" action="{{path("cp_module_profile", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
            <div class="display_mobile">
                <div class="form-group">
                    {{form_label(form.position, "module_profile_2")}}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-puzzle-piece"></i></span>
                        {{form_errors(form.position)}}
                        {{form_widget(form.position)}}
                    </div>
                </div>
                
                {{form_row(form.sort, {'label': "module_profile_3"})}}
                <div id="module_profile_sort" class="form-group">
                    {{-include("UebusaitoBundle::render/control_panel/module_profile_sort.html.twig")-}}
                </div>
            </div>
            
            <div class="form-group">
                {{form_label(form.name, "module_profile_4")}}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-header"></i></span>
                    {{form_errors(form.name)}}
                    {{form_widget(form.name)}}
                </div>
            </div>
            
            {{form_row(form.label, {'label': "module_profile_5"})}}
            
            <div class="form-group">
                {{form_label(form.fileName, "module_profile_6")}}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-file"></i></span>
                    {{form_errors(form.fileName)}}
                    {{form_widget(form.fileName)}}
                </div>
            </div>
            
            {{form_row(form.active, {'label': "module_profile_7"})}}

            {{form_widget(form._token)}}

            <input class="btn btn-primary" type="submit" value="{% trans %}button_3{% endtrans %}"/>
        </form>
        
        {% if is_granted("ROLE_ADMIN") == true and urlExtra > 5 %}
            {{-include("UebusaitoBundle::render/control_panel/module_deletion.html.twig")-}}
        {% endif %}
    </div>
</div>