{% form_theme form "bootstrap_3_layout.html.twig" %}

<div class="row">
    <div class="col-md-5">
        <h3>{% trans %}user_profile_1{% endtrans %}</h3>
        <form id="form_cp_user_profile" action="{{path("cp_user_profile", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
            <div class="form-group">
                {{form_label(form.username, "user_profile_2")}}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-paw"></i></span>
                    {{form_errors(form.username)}}
                    {{form_widget(form.username)}}
                </div>
            </div>
            
            {% if is_granted("ROLE_ADMIN") == true %}
                <div id="form_user_roleId_wordTag_container" class="form-group">
                    {{form_label(form.roleId, "user_profile_3")}}
                    {{form_errors(form.roleId)}}
                    {{form_widget(form.roleId)}}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-tags"></i></span>
                        {{response.values.rolesSelect|raw}}
                    </div>
                </div>
            {% endif %}
            
            {{form_row(form.name, {'label': "user_profile_4"})}}
            {{form_row(form.surname, {'label': "user_profile_5"})}}
            
            <div class="form-group">
                {{form_label(form.email, "user_profile_6")}}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    {{form_errors(form.email)}}
                    {{form_widget(form.email)}}
                </div>
            </div>
            
            {{form_row(form.telephone, {'label': "user_profile_7"})}}
            {{form_row(form.born, {'label': "user_profile_8"})}}
            {{form_row(form.gender, {'label': "user_profile_9"})}}

            {% if (form.fiscalCode.vars.value != "") %}
                {{form_row(form.fiscalCode, {'label': "user_profile_10"})}}
                {{form_row(form.companyName, {'label': "user_profile_11"})}}
                {{form_row(form.vat, {'label': "user_profile_12"})}}
            {% endif %}

            {{form_row(form.website, {'label': "user_profile_13"})}}
            {{form_row(form.state, {'label': "user_profile_14"})}}
            {{form_row(form.city, {'label': "user_profile_15"})}}
            {{form_row(form.zip, {'label': "user_profile_16"})}}
            {{form_row(form.address, {'label': "user_profile_17"})}}
            
            <div class="form-group">
                {{form_label(form.password, "user_profile_18")}}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    {{form_errors(form.password)}}
                    {{form_widget(form.password)}}
                </div>
            </div>
            
            <div class="form-group">
                {{form_label(form.passwordConfirm, "user_profile_19")}}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    {{form_errors(form.passwordConfirm)}}
                    {{form_widget(form.passwordConfirm)}}
                </div>
            </div>

            {{form_row(form.notLocked, {'label': "user_profile_20"})}}

            {{form_widget(form._token)}}

            <input class="btn btn-primary" type="submit" value="{% trans %}button_3{% endtrans %}"/>
        </form>
        
        {% if is_granted("ROLE_ADMIN") == true and urlExtra > 1 %}
            {{-include("UebusaitoBundle::render/control_panel/user_deletion.html.twig")-}}
        {% endif %}
    </div>
</div>