{% form_theme form "bootstrap_3_layout.html.twig" %}

<div class="row">
    <div class="col-md-5">
        <h3>{% trans %}user_creation_1{% endtrans %}</h3>
        <form id="form_cp_user_creation" action="{{path("cp_user_creation", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
            <div class="form-group">
                {{form_label(form.username, "user_creation_2")}}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-paw"></i></span>
                    {{form_errors(form.username)}}
                    {{form_widget(form.username)}}
                </div>
            </div>
            
            {% if is_granted("ROLE_ADMIN") == true %}
                <div id="form_user_roleId_wordTag_container" class="form-group">
                    {{form_label(form.roleId, "user_creation_3")}}
                    {{form_errors(form.roleId)}}
                    {{form_widget(form.roleId)}}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-tags"></i></span>
                        {{response.values.rolesSelect|raw}}
                    </div>
                </div>
            {% endif %}
            
            {{form_row(form.name, {'label': "user_creation_4"})}}
            {{form_row(form.surname, {'label': "user_creation_5"})}}
            
            <div class="form-group">
                {{form_label(form.email, "user_creation_6")}}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    {{form_errors(form.email)}}
                    {{form_widget(form.email)}}
                </div>
            </div>
            
            {{form_row(form.telephone, {'label': "user_creation_7"})}}
            {{form_row(form.born, {'label': "user_creation_8"})}}
            {{form_row(form.gender, {'label': "user_creation_9"})}}

            {{form_row(form.fiscalCode, {'label': "user_creation_10"})}}
            {{form_row(form.companyName, {'label': "user_creation_11"})}}
            {{form_row(form.companyCode, {'label': "user_creation_12"})}}

            {{form_row(form.website, {'label': "user_creation_13"})}}
            {{form_row(form.state, {'label': "user_creation_14"})}}
            {{form_row(form.city, {'label': "user_creation_15"})}}
            {{form_row(form.zip, {'label': "user_creation_16"})}}
            {{form_row(form.address, {'label': "user_creation_17"})}}
            
            <div class="form-group">
                {{form_label(form.password, "user_creation_18")}}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    {{form_errors(form.password)}}
                    {{form_widget(form.password)}}
                </div>
            </div>
            
            <div class="form-group">
                {{form_label(form.passwordConfirm, "user_creation_19")}}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    {{form_errors(form.passwordConfirm)}}
                    {{form_widget(form.passwordConfirm)}}
                </div>
            </div>
            
            {{form_widget(form.token)}}
            
            <input class="btn btn-primary" type="submit" value="{% trans %}button_1{% endtrans %}"/>
        </form>
    </div>
</div>