{% form_theme form "@templateRoot/layout/layout_form_materialDesign.html.twig" %}

<fieldset>
    <legend>{% trans %}microserviceApiCreate_1{% endtrans %}</legend>
    <p>{% trans %}microserviceApiCreate_2{% endtrans %}</p>
    <form id="form_cp_microservice_api_create" action="{{path("cp_microservice_api_create", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
        {{form_row(form.name, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "supervisor_account"})}}
        {{form_row(form.description, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "supervisor_account"})}}
        {{form_row(form.active)}}

        {{form_widget(form._token)}}

        {{form_widget(form.submit, {'dense': "", 'raised': ""})}}
    </form>
</fieldset>