{% form_theme form "bootstrap_3_layout.html.twig" %}

<div class="row">
    <div class="col-md-12">
        <h3 class="form_title">{% trans %}page_creation_1{% endtrans %}</h3>
        <form id="cp_page_creation_form" action="{{path("cp_page_creation", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
            <div class="form-group">
                {{form_label(form.alias, "page_creation_2")}}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-header"></i></span>
                    {{form_errors(form.alias)}}
                    {{form_widget(form.alias)}}
                </div>
            </div>
            
            {{form_row(form.parent, {'label': "page_creation_3"})}}
            {{form_row(form.title, {'label': "page_creation_4"})}}
            {{form_row(form.controllerAction, {'label': "page_creation_5"})}}
            {{form_row(form.argument, {'label': "page_creation_6"})}}
            {{-include("@UebusaitoBundleViews/include/wysiwyg.html.twig")-}}
            
            <div id="page_roleUserId_wordTag_container" class="form-group">
                {{form_label(form.roleUserId, "page_creation_7")}}
                {{form_errors(form.roleUserId)}}
                {{form_widget(form.roleUserId)}}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-tags"></i></span>
                    {{response.values.roleUserHtml|raw}}
                </div>
            </div>
                
            {{form_row(form.protected, {'label': "page_creation_8"})}}
            {{form_row(form.showInMenu, {'label': "page_creation_9"})}}
            
            <div class="form-group">
                {{form_label(form.positionInMenu, "page_creation_10")}}
                {{form_errors(form.positionInMenu)}}
                {{form_widget(form.positionInMenu, {'attr': {'size': '8'}})}}
                
                {{form_row(form.sort)}}
                <div id="page_menu_sort">
                    <div class="horizontal_center">
                        <i id="page_sort_button_up" class="fa fa-caret-square-o-up button_sort"></i>
                        <i id="page_sort_button_down" class="fa fa-caret-square-o-down button_sort"></i>
                    </div>
                </div>
            </div>
            
            {{form_row(form.menuName, {'label': "page_creation_11"})}}
            {{form_row(form.comment, {'label': "page_creation_12"})}}
            {{form_row(form.onlyLink, {'label': "page_creation_13"})}}
            {{form_row(form.link, {'label': "page_creation_14"})}}

            {{form_widget(form._token)}}

            <input class="button_custom" type="submit" value="{% trans %}button_1{% endtrans %}"/>
        </form>
    </div>
</div>