<h3 class="form_title">{% trans %}page_selection_1{% endtrans %}</h3>

<div id="cp_page_selection_desktop" class="display_desktop">
    <div id="cp_page_selection_result_desktop">
        {{-include("@UebusaitoBundleViews/include/table_and_pagination.html.twig")-}}

        <div class="overflow_y_hidden margin_bottom">
            <table class="table table-bordered table-striped">
                <thead class="table_thead">
                    <tr>
                        <th class="cursor_pointer">
                            {% trans %}page_selection_2{% endtrans %}
                            <i class="fa fa-caret-down"></i>
                            <i class="fa fa-caret-up"></i>
                        </th>
                        <th class="cursor_pointer">
                            {% trans %}page_selection_3{% endtrans %}
                            <i class="fa fa-caret-down"></i>
                            <i class="fa fa-caret-up"></i>
                        </th>
                        <th class="cursor_pointer">
                            {% trans %}page_selection_4{% endtrans %}
                            <i class="fa fa-caret-down"></i>
                            <i class="fa fa-caret-up"></i>
                        </th>
                        <th class="cursor_pointer">
                            {% trans %}page_selection_5{% endtrans %}
                            <i class="fa fa-caret-down"></i>
                            <i class="fa fa-caret-up"></i>
                        </th>
                        <th class="cursor_pointer">
                            {% trans %}page_selection_6{% endtrans %}
                            <i class="fa fa-caret-down"></i>
                            <i class="fa fa-caret-up"></i>
                        </th>
                        <th class="cursor_pointer">
                            {% trans %}page_selection_7{% endtrans %}
                            <i class="fa fa-caret-down"></i>
                            <i class="fa fa-caret-up"></i>
                        </th>
                        <th class="cursor_pointer">
                            {% trans %}page_selection_8{% endtrans %}
                            <i class="fa fa-caret-down"></i>
                            <i class="fa fa-caret-up"></i>
                        </th>
                        <th class="cursor_pointer">
                            {% trans %}page_selection_9{% endtrans %}
                            <i class="fa fa-caret-down"></i>
                            <i class="fa fa-caret-up"></i>
                        </th>
                        <th class="cursor_pointer">
                            {% trans %}page_selection_10{% endtrans %}
                            <i class="fa fa-caret-down"></i>
                            <i class="fa fa-caret-up"></i>
                        </th>
                    </tr>
                </thead>
                <tbody class="table_tbody">
                    {{response.values.listHtml|raw}}
                </tbody>
            </table>
        </div>
    </div>
    <button id="cp_page_selection_button_desktop" class="button_custom" type="button">{% trans %}button_4{% endtrans %}</button>
</div>

<div id="cp_page_selection_mobile" class="display_mobile">
    {% form_theme form "bootstrap_3_layout.html.twig" %}
    
    <div>
        <form id="form_cp_page_selection_mobile" action="{{path("cp_page_profile_result", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
            {{form_row(form.id, {'label': "page_selection_11"})}}

            {{form_widget(form._token)}}

            <input class="button_custom" type="submit" value="{% trans %}button_4{% endtrans %}"/>
        </form>
    </div>
</div>

<div id="cp_page_selection_result"></div>