{% form_theme form "bootstrap_3_layout.html.twig" %}

<div class="row">
    <div class="col-md-6">
        <h3 class="form_title">{% trans %}profile_password_1{% endtrans %}</h3>
        <form id="cp_profile_password_form" action="{{path("cp_profile_password", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
            <fieldset class="accordion_container">
                <legend class="title"><i class="fa fa-chevron-circle-down icon"></i> {% trans %}profile_password_2{% endtrans %}</legend>
                <div class="content">
                    <div class="form-group">
                        {{form_label(form.old, "profile_password_3")}}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            {{form_errors(form.old)}}
                            {{form_widget(form.old)}}
                        </div>
                    </div>
                    <div class="form-group">
                        {{form_label(form.new, "profile_password_4")}}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            {{form_errors(form.new)}}
                            {{form_widget(form.new)}}
                        </div>
                    </div>
                    <div class="form-group">
                        {{form_label(form.newConfirm, "profile_password_5")}}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            {{form_errors(form.newConfirm)}}
                            {{form_widget(form.newConfirm)}}
                        </div>
                    </div>

                    {{form_widget(form._token)}}

                    <input class="button_custom margin_bottom" type="submit" value="{% trans %}button_3{% endtrans %}"/>
                </div>
            </fieldset>
        </form>
    </div>
</div>