{% form_theme form "@UebusaitoBundleViews/layout/layout_form_materialDesign.html.twig" %}

<fieldset class="accordion_container">
    <legend>{% trans %}profilePassword_1{% endtrans %}</legend>
    <p>{% trans %}profilePassword_2{% endtrans %}</p>
    <button class="mdc-button mdc-button--dense mdc-button--raised button_accordion" type="button" disabled>{% trans %}index_14{% endtrans %}</button>
    <div class="accordion">
        <form id="form_cp_profile_password" action="{{path("cp_profile_password", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
            {{form_row(form.old, {'label': "profilePassword_3", 'dense': "", 'styleType': "outlinedTrailing", 'icon': "linear_scale"})}}
            {{form_row(form.new, {'label': "profilePassword_4", 'dense': "", 'styleType': "outlinedTrailing", 'icon': "linear_scale"})}}
            {{form_row(form.newConfirm, {'label': "profilePassword_5", 'dense': "", 'styleType': "outlinedTrailing", 'icon': "linear_scale"})}}

            {{form_widget(form._token)}}
            
            {{form_widget(form.submit, {'label': "index_11", 'dense': "", 'raised': ""})}}
        </form>
    </div>
</fieldset>