{% form_theme form "bootstrap_3_layout.html.twig" %}

<div class="row">
    <div class="col-md-6">
        <h3 class="form_title">{% trans %}role_profile_1{% endtrans %}</h3>
        <form id="form_cp_role_profile" action="{{path("cp_role_profile_result", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
            <div class="form-group">
                {{form_label(form.level, "role_profile_2")}}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-header"></i></span>
                    {{form_errors(form.level)}}
                    {{form_widget(form.level)}}
                </div>
            </div>
            
            {{form_widget(form._token)}}

            <input class="button_custom" type="submit" value="{% trans %}button_3{% endtrans %}"/>
        </form>
        
        {% if is_granted("ROLE_ADMIN") == true and response.values.id > 2 %}
            {{-include("@UebusaitoBundleViews/render/control_panel/role_deletion.html.twig")-}}
        {% endif %}
    </div>
</div>