{% form_theme form "bootstrap_3_layout.html.twig" %}

<div>
    <h3 class="form_title">{% trans %}roleUser_creation_1{% endtrans %}</h3>
    <form id="form_cp_roleUser_creation" action="{{path("cp_roleUser_creation", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
        <div class="form-group">
            {{form_label(form.level, "roleUser_creation_2")}}
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-header"></i></span>
                {{form_errors(form.level)}}
                {{form_widget(form.level)}}
            </div>
        </div>

        {{form_widget(form._token)}}

        <input class="button_custom" type="submit" value="{% trans %}index_9{% endtrans %}"/>
    </form>
</div>