<div class="row">
    <div class="col-md-6">
        <h3>{% trans %}payment_profile_1{% endtrans %}</h3>
        
        <p><b>{% trans %}payment_profile_2{% endtrans %}:</b> {{response.values.payment.transaction}}</p>
        <p><b>{% trans %}payment_profile_3{% endtrans %}:</b> {{response.values.payment.date}}</p>
        <p><b>{% trans %}payment_profile_4{% endtrans %}:</b> {{response.values.payment.status}}</p>
        <p><b>{% trans %}payment_profile_5{% endtrans %}:</b> {{response.values.payment.payer}}</p>
        <p><b>{% trans %}payment_profile_6{% endtrans %}:</b> {{response.values.payment.receiver}}</p>
        <p><b>{% trans %}payment_profile_7{% endtrans %}:</b> {{response.values.payment.currencyCode}}</p>
        <p><b>{% trans %}payment_profile_8{% endtrans %}:</b> {{response.values.payment.itemName}}</p>
        <p><b>{% trans %}payment_profile_9{% endtrans %}:</b> {{response.values.payment.amount}}</p>
        <p><b>{% trans %}payment_profile_10{% endtrans %}:</b> {{response.values.payment.quantity}}</p>
        
        {% if is_granted("ROLE_ADMIN") == true %}
            {{-include("@UebusaitoBundleViews/render/control_panel/payment_deletion.html.twig")-}}
        {% endif %}
    </div>
</div>