<ul id="menu_control_panel" class="nav nav-tabs">
    {% if is_granted("ROLE_USER") == true %}
        <li>
            <a href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_profile"})}}">{% trans %}control_panel_1{% endtrans %}</a>
        </li>
        <li>
            <a href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_payments"})}}">{% trans %}control_panel_2{% endtrans %}</a>
        </li>
    {% endif %}
    {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true %}
        <li>
            <a href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_pages"})}}">{% trans %}control_panel_3{% endtrans %}</a>
        </li>
        <li>
            <a href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_users"})}}">{% trans %}control_panel_4{% endtrans %}</a>
        </li>
        <li>
            <a href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_modules"})}}">{% trans %}control_panel_5{% endtrans %}</a>
        </li>
        <li>
            <a href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_roles"})}}">{% trans %}control_panel_6{% endtrans %}</a>
        </li>
    {% endif %}
    {% if is_granted("ROLE_ADMIN") == true %}
        <li>
            <a href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_settings"})}}">{% trans %}control_panel_7{% endtrans %}</a>
        </li>
    {% endif %}
</ul>
<div class="page_container clearfix">
    {% if urlExtra == "" or urlExtra == "cp_profile" %}
        {% if is_granted("ROLE_USER") == true %}
            <p>{% trans %}control_panel_8{% endtrans %}</p>
            {{-render(controller("UebusaitoBundle:ControlPanel\\Profile:profile", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {{-render(controller("UebusaitoBundle:ControlPanel\\Profile:password", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {% if settingRow['credits'] == true %}
                {{-render(controller("UebusaitoBundle:ControlPanel\\Profile:credits", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {% endif %}
        {% endif %}
    {% elseif urlExtra == "cp_payments" %}
        {% if is_granted("ROLE_USER") == true %}
            <p>{% trans %}control_panel_9{% endtrans %}</p>
            
            {{-render(controller("UebusaitoBundle:ControlPanel\\Payment:selection", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
        {% endif %}
    {% elseif urlExtra == "cp_pages" or urlExtra == "cp_pages/create" or urlExtra == "cp_pages/modify" %}
        {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true %}
            <p>{% trans %}control_panel_10{% endtrans %}</p>
            
            <div class="margin_top">
                <a class="button_custom" href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_pages/create"})}}">{% trans %}button_1{% endtrans %}</a>
                <a class="button_custom" href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_pages/modify"})}}">{% trans %}button_5{% endtrans %}</a>
            </div>
            
            {% if urlExtra == "cp_pages/create" %}
                {{-render(controller("UebusaitoBundle:ControlPanel\\Page:creation", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {% endif %}
            
            {% if urlExtra == "cp_pages/modify" %}
                {{-render(controller("UebusaitoBundle:ControlPanel\\Page:selection", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {% endif %}
        {% endif %}
    {% elseif urlExtra == "cp_users" or urlExtra == "cp_users/create" or urlExtra == "cp_users/modify" %}
        {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true %}
            <p>{% trans %}control_panel_11{% endtrans %}</p>
            
            <div class="margin_top">
                <a class="button_custom" href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_users/create"})}}">{% trans %}button_1{% endtrans %}</a>
                <a class="button_custom" href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_users/modify"})}}">{% trans %}button_5{% endtrans %}</a>
            </div>
            
            {% if urlExtra == "cp_users/create" %}
                {{-render(controller("UebusaitoBundle:ControlPanel\\User:creation", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {% endif %}
            
            {% if urlExtra == "cp_users/modify" %}
                {{-render(controller("UebusaitoBundle:ControlPanel\\User:selection", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {% endif %}
        {% endif %}
    {% elseif urlExtra == "cp_modules" or urlExtra == "cp_modules/create" or urlExtra == "cp_modules/modify" %}
        {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true %}
            <p>{% trans %}control_panel_12{% endtrans %}</p>
            
            <div class="display_desktop margin_bottom">
                {{-render(controller("UebusaitoBundle:ControlPanel\\Module:drag", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            </div>
            
            <div class="margin_top">
                <a class="button_custom" href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_modules/create"})}}">{% trans %}button_1{% endtrans %}</a>
                <a class="button_custom" href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_modules/modify"})}}">{% trans %}button_5{% endtrans %}</a>
            </div>
            
            {% if urlExtra == "cp_modules/create" %}
                {{-render(controller("UebusaitoBundle:ControlPanel\\Module:creation", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {% endif %}
            
            {% if urlExtra == "cp_modules/modify" %}
                {{-render(controller("UebusaitoBundle:ControlPanel\\Module:selection", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {% endif %}
        {% endif %}
    {% elseif urlExtra == "cp_roles" or urlExtra == "cp_roles/create" or urlExtra == "cp_roles/modify" %}
        {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true %}
            <p>{% trans %}control_panel_13{% endtrans %}</p>
            
            <div class="margin_top">
                <a class="button_custom" href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_roles/create"})}}">{% trans %}button_1{% endtrans %}</a>
                <a class="button_custom" href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_roles/modify"})}}">{% trans %}button_5{% endtrans %}</a>
            </div>
            
            {% if urlExtra == "cp_roles/create" %}
                {{-render(controller("UebusaitoBundle:ControlPanel\\Role:creation", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {% endif %}
            
            {% if urlExtra == "cp_roles/modify" %}
                {{-render(controller("UebusaitoBundle:ControlPanel\\Role:selection", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {% endif %}
        {% endif %}
    {% elseif urlExtra == "cp_settings" %}
        {% if is_granted("ROLE_ADMIN") == true %}
            <p>{% trans %}control_panel_14{% endtrans %}</p>
            
            {{-render(controller("UebusaitoBundle:ControlPanel\\Setting:modify", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
        {% endif %}
    {% endif %}
</div>
<script type="text/javascript">
    var textPayment = {
        'deletePayment': "{{"control_panel_15"|trans}}",
        'deleteAllPayments': "{{"control_panel_16"|trans}}"
    };
    
    var textPage = {
        'deletePage': "{{"control_panel_17"|trans}}",
        'deleteAllPages': "{{"control_panel_18"|trans}}"
    };
    
    var textUser = {
        'deleteUser': "{{"control_panel_19"|trans}}",
        'deleteAllUsers': "{{"control_panel_20"|trans}}"
    };
    
    var textModule = {
        'deleteModule': "{{"control_panel_21"|trans}}",
        'deleteAllModules': "{{"control_panel_22"|trans}}"
    };
    
    var textRole = {
        'deleteRole': "{{"control_panel_23"|trans}}",
        'deleteAllRoles': "{{"control_panel_24"|trans}}"
    };
    
    var textSetting = {
        'deleteLanguageManage': "{{"control_panel_25"|trans}}"
    };
</script>