<ul id="menu_control_panel" class="nav nav-tabs">
    <li>
        <a href="{{path("index", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_profile"})}}">{% trans %}control_panel_1{% endtrans %}</a>
    </li>
    <li>
        <a href="{{path("index", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_payments"})}}">{% trans %}control_panel_2{% endtrans %}</a>
    </li>
    {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true %}  
        <li>
            <a href="{{path("index", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_pages"})}}">{% trans %}control_panel_3{% endtrans %}</a>
        </li>
        <li>
            <a href="{{path("index", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_users"})}}">{% trans %}control_panel_4{% endtrans %}</a>
        </li>
        <li>
            <a href="{{path("index", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_modules"})}}">{% trans %}control_panel_5{% endtrans %}</a>
        </li>
        <li>
            <a href="{{path("index", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_roles"})}}">{% trans %}control_panel_6{% endtrans %}</a>
        </li>
        <li>
            <a href="{{path("index", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_settings"})}}">{% trans %}control_panel_7{% endtrans %}</a>
        </li>
    {% endif %}
</ul>
<div class="page_container clearfix">
    {% if urlExtra == "cp_profile" %}
        <p>{% trans %}control_panel_8{% endtrans %}</p>
        {{-render(controller("UebusaitoBundle:ControlPanel\\Profile:index", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
        {{-render(controller("UebusaitoBundle:ControlPanel\\Profile:password", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
        {% if settings['credits'] == true %}
            {{-render(controller("UebusaitoBundle:ControlPanel\\Profile:credits", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
        {% endif %}
    {% elseif urlExtra == "cp_payments" %}
        <p>{% trans %}control_panel_9{% endtrans %}</p>
        
        {{-render(controller("UebusaitoBundle:ControlPanel\\Payment:selection", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
    {% elseif urlExtra == "cp_pages" or urlExtra == "cp_pages/create" or urlExtra == "cp_pages/modify" %}
        {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true %}
            <p>{% trans %}control_panel_10{% endtrans %}</p>
            
            <a class="btn btn-primary" href="{{path("index", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_pages/create"})}}">{% trans %}button_1{% endtrans %}</a>
            <a class="btn btn-primary" href="{{path("index", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_pages/modify"})}}">{% trans %}button_5{% endtrans %}</a>
            
            {% if urlExtra == "cp_pages/create" %}
                {{-render(controller("UebusaitoBundle:ControlPanel\\Page:creation", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {% endif %}
            
            {% if urlExtra == "cp_pages/modify" %}
                {{-render(controller("UebusaitoBundle:ControlPanel\\Page:selection", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {% endif %}
        {% endif %}
    {% elseif urlExtra == "cp_users" or urlExtra == "cp_users/create" or urlExtra == "cp_users/modify" %}
        {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true %}
            <p>{% trans %}control_panel_11{% endtrans %}</p>
            
            <a class="btn btn-primary" href="{{path("index", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_users/create"})}}">{% trans %}button_1{% endtrans %}</a>
            <a class="btn btn-primary" href="{{path("index", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_users/modify"})}}">{% trans %}button_5{% endtrans %}</a>
            
            {% if urlExtra == "cp_users/create" %}
                {{-render(controller("UebusaitoBundle:ControlPanel\\User:creation", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {% endif %}
            
            {% if urlExtra == "cp_users/modify" %}
                {{-render(controller("UebusaitoBundle:ControlPanel\\User:selection", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {% endif %}
        {% endif %}
    {% elseif urlExtra == "cp_modules" or urlExtra == "cp_modules/create" or urlExtra == "cp_modules/modify" %}
        {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true %}
            <p>{% trans %}control_panel_12{% endtrans %}</p>
            
            <div class="display_mobile margin_bottom">
                {{-render(controller("UebusaitoBundle:ControlPanel\\Module:drag", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            </div>
            
            <a class="btn btn-primary" href="{{path("index", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_modules/create"})}}">{% trans %}button_1{% endtrans %}</a>
            <a class="btn btn-primary" href="{{path("index", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_modules/modify"})}}">{% trans %}button_5{% endtrans %}</a>
            
            {% if urlExtra == "cp_modules/create" %}
                {{-render(controller("UebusaitoBundle:ControlPanel\\Module:creation", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {% endif %}
            
            {% if urlExtra == "cp_modules/modify" %}
                {{-render(controller("UebusaitoBundle:ControlPanel\\Module:selection", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {% endif %}
        {% endif %}
    {% elseif urlExtra == "cp_roles" or urlExtra == "cp_roles/create" or urlExtra == "cp_roles/modify" %}
        {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true %}
            <p>{% trans %}control_panel_13{% endtrans %}</p>
            
            <a class="btn btn-primary" href="{{path("index", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_roles/create"})}}">{% trans %}button_1{% endtrans %}</a>
            <a class="btn btn-primary" href="{{path("index", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': "cp_roles/modify"})}}">{% trans %}button_5{% endtrans %}</a>
            
            {% if urlExtra == "cp_roles/create" %}
                {{-render(controller("UebusaitoBundle:ControlPanel\\Role:creation", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {% endif %}
            
            {% if urlExtra == "cp_roles/modify" %}
                {{-render(controller("UebusaitoBundle:ControlPanel\\Role:selection", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
            {% endif %}
        {% endif %}
    {% elseif urlExtra == "cp_settings" %}
        {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true %}
            <p>{% trans %}control_panel_14{% endtrans %}</p>
            
            {{-render(controller("UebusaitoBundle:ControlPanel\\Setting:modify", {'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
        {% endif %}
    {% endif %}
</div>