{% form_theme form "bootstrap_3_layout.html.twig" %}

<div class="row">
    <div class="col-md-5">
        {% if response.values.userId == null %}
            <h3 class="margin_clear">{% trans %}recover_password_1{% endtrans %}</h3>
            <form id="form_recover_password" class="margin_top" action="{{path("recover_password", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
                <div class="form-group">
                    {{form_label(form.email, "recover_password_2")}}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        {{form_errors(form.email)}}
                        {{form_widget(form.email)}}
                    </div>
                </div>

                {{form_widget(form._token)}}

                <input class="btn btn-primary" type="submit" value="{% trans %}button_4{% endtrans %}"/>
            </form>
        {% else %}
            <h3 class="margin_clear">{% trans %}recover_password_3{% endtrans %}</h3>
            <form id="form_change_password" class="margin_top" action="{{path("recover_password", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
                <div class="form-group">
                    {{form_label(form.password, "recover_password_4")}}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        {{form_errors(form.password)}}
                        {{form_widget(form.password)}}
                    </div>
                </div>
                
                <div class="form-group">
                    {{form_label(form.passwordConfirm, "recover_password_5")}}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        {{form_errors(form.passwordConfirm)}}
                        {{form_widget(form.passwordConfirm)}}
                    </div>
                </div>

                {{form_widget(form._token)}}

                <input class="btn btn-primary" type="submit" value="{% trans %}button_4{% endtrans %}"/>
            </form>
        {% endif %}
    </div>
</div>