{% if form == null %}
    <p>{{response.messages.success}}</p>
{% else %}
    {% form_theme form "@UebusaitoBundleViews/layout/layout_form_materialDesign.html.twig" %}
    
    <nav class="mdc-tab-bar mdc-tab-bar--icons-with-text">
        <a class="mdc-tab mdc-tab--with-icon-and-text" href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': 3, 'urlExtra': "private"})}}">
            <i class="material-icons mdc-tab__icon" aria-hidden="true">person</i>
            <span class="mdc-tab__icon-text">{% trans %}registration_1{% endtrans %}</span>
        </a>
        <a class="mdc-tab mdc-tab--with-icon-and-text" href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': 3, 'urlExtra': "company"})}}">
            <i class="material-icons mdc-tab__icon" aria-hidden="true">account_balance</i>
            <span class="mdc-tab__icon-text">{% trans %}registration_2{% endtrans %}</span>
        </a>
        <span class="mdc-tab-bar__indicator"></span>
    </nav>
    <div>
        <h1 class="mdc-typography--headline6">{% trans %}registration_3{% endtrans %}</h1>
        <form id="form_user_registration" action="{{path("registration", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
            {{form_row(form.username, {'label': "registration_4", 'dense': "", 'styleType': "outlinedTrailing", 'icon': "pets"})}}
            {{form_row(form.name, {'label': "registration_5", 'dense': "", 'styleType': "outlinedTrailing"})}}
            {{form_row(form.surname, {'label': "registration_6", 'dense': "", 'styleType': "outlinedTrailing"})}}
            {{form_row(form.email, {'label': "registration_7", 'dense': "", 'styleType': "outlinedTrailing", 'icon': "email"})}}
            {{form_row(form.telephone, {'label': "registration_8", 'dense': "", 'styleType': "outlinedTrailing"})}}
            {{form_row(form.born, {'label': "registration_9", 'dense': "", 'styleType': "outlinedTrailing", 'attr' : {'class': "widget_datePicker_input"} })}}
            {{form_row(form.gender, {'label': "registration_10"})}}

            {% if urlExtra == "company" %}
                {{form_row(form.fiscalCode, {'label': "registration_11", 'dense': "", 'styleType': "outlinedTrailing"})}}
                {{form_row(form.companyName, {'label': "registration_12", 'dense': "", 'styleType': "outlinedTrailing"})}}
                {{form_row(form.vat, {'label': "registration_13", 'dense': "", 'styleType': "outlinedTrailing"})}}
            {% endif %}

            {{form_row(form.website, {'label': "registration_14", 'dense': "", 'styleType': "outlinedTrailing"})}}
            {{form_row(form.state, {'label': "registration_15", 'dense': "", 'styleType': "outlinedTrailing"})}}
            {{form_row(form.city, {'label': "registration_16", 'dense': "", 'styleType': "outlinedTrailing"})}}
            {{form_row(form.zip, {'label': "registration_17", 'dense': "", 'styleType': "outlinedTrailing"})}}
            {{form_row(form.address, {'label': "registration_18", 'dense': "", 'styleType': "outlinedTrailing"})}}
            {{form_row(form.password, {'label': "registration_19", 'dense': "", 'styleType': "outlinedTrailing", 'icon': "linear_scale"})}}
            {{form_row(form.passwordConfirm, {'label': "registration_20", 'dense': "", 'styleType': "outlinedTrailing", 'icon': "linear_scale"})}}

            {{form_widget(form._token)}}

            {{form_widget(form.submit, {'label': "button_4", 'dense': "", 'raised': ""})}}
        </form>
    </div>
{% endif %}